<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      OneSignal
    </ion-title> <ion-buttons slot="end">
      <ion-button (click)="cleanMessages()" color="danger">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">OneSignal</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="cleanMessages()" color="danger">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

  </ion-header>

  <ion-list>

    <ion-list-header>
      <ion-toolbar>
        <ion-title>UserId</ion-title>
      </ion-toolbar>
    </ion-list-header>

    <ion-item>
      <ion-label>{{ pushService.userId }}</ion-label>
    </ion-item>

    <ion-list-header>
      <ion-toolbar>
        <ion-label>Pushes</ion-label>
      </ion-toolbar>
    </ion-list-header>

    <ion-item *ngFor="let push of mensajes">
      <ion-label>
        <h4>{{ push.title }}</h4>
        <p>{{ push.body }}</p>
        <p>{{ push.additionalData | json }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
